@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/druk-trial');



@import url('https://fonts.cdnfonts.com/css/cabinet-grotesk');
@import url('https://fonts.cdnfonts.com/css/author-2');
@import url('https://db.onlinewebfonts.com/c/db17de954fe4612c89d81b9e7a4e2c25?family=HFF+Greek+ExCon');
                

@import url('https://fonts.cdnfonts.com/css/cooper-black');

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 12px; 
}
::-webkit-scrollbar-track {
    background: #1D2027; 
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}







body{
    // font-family: 'Druk Trial', sans-serif;
    font-family: 'Cabinet Grotesk', sans-serif;
    // font-family: 'Author', sans-serif;
    
    overflow-x: hidden;
    margin: 0px;
}


header{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background-image: url(images/sky.png); /* Remplace par l'URL de ton image */
    background-size: cover; /* L'image couvre toute la zone */
    background-position: center; /* Centrer l'image */
    background-repeat: no-repeat;

    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 38%;   
        padding: 3% 30% 0% 31%;  
    
        background-image: url(images/noise.png); /* Remplace par l'URL de ton image */
        opacity: 1; /* Ajuste selon l'effet désiré */
        
         
        ul{
            list-style: none;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.5% 0% 0.5% 0%;
        }
        li {
            font-size: 17px;
            font-weight: 700;
            color: #F8F4F0;
    
        }
      
        .souligner {
            position: relative;
            display: inline-block;
            cursor: pointer;
          }
        
          .souligner::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 100%;
            height: 2px; 
            background-color: rgb(255, 255, 255);
            transform: scaleX(0); 
            transform-origin: right; 
            transition: transform 0.4s ease;
          }
        
          .souligner:hover::after {
            transform: scaleX(1); 
            transform-origin: left; 
          }
        
    }
    
    .title{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 9% 10% 7% 10%;
        background-image: url(images/noise.png); /* Remplace par l'URL de ton image */
        
        opacity: 1; /* Ajuste selon l'effet désiré */
    
        h1{
            font-family: 'Druk Trial', sans-serif;
            font-weight: 900;
            font-size: 200px;
            margin: auto;
            color: #F8F4F0;
        }
        
        .soustitre{
            display: flex;
            justify-content: space-between;
            position: relative;
            top: -20px;
        
            h3{
                color: #F8F4F0;
                font-size: 20px;  
                font-weight: bold;
            }
        }
        
        // TEXT GLISEE
        .marquee-container {
            overflow: hidden;
            width: 70%;
            margin: 0px auto;
            color: #F8F4F0;
            font-size: 20px;  
            font-weight: bold;
        }
        .marquee {
            display: flex;
            white-space: nowrap;
            animation: marquee 14s linear infinite;
            margin-bottom: 10px;
        }
        .reverse {
            animation-direction: reverse;
        }
        
        @keyframes marquee {
            from {
                transform: translateX(0);
            }
            to {
                transform: translateX(-100%);
            }
        }
        
    }


}


.propos{
    position: relative;

    background-color: #F8F4F0;

    background-color: #F8F4F0;
    background-image: url(images/noise.png); 


    clip-path: polygon(0% 1%, 5% 0% ,10% 2%, 15% 3%, 20% 1%, 25% 2%, 30% 1%, 35% 3.5%, 40% 1%,45% 2%, 50% 3%, 55% 1.5%, 60% 2%, 65% 0%, 70% 3%, 75% 1%, 80% 2%, 85% 1.5%, 90% 1%, 95% 2%, 100% 0%, 100% 100%, 0% 100%);
    

    margin-top: 100vh;
    display: flex;
    justify-content: space-between;
    padding: 14% 0% 0% 0%;
   


        .ProposImgGauche{
            width: 20%;

    
            .photo1{
                position: relative;
                left: -50px;
                display: inline-block;
                transform: rotate(-5deg); 
            }
            .photo2{
                position: relative;
                top: -20px;
                left: -50px;
                display: inline-block;
                transform: rotate(3deg); 
            }
            .portrait1{
                width: 340px;
                height: 240px;
                object-fit: cover;
            }
            .portrait2{
                width: 360px;
                height: 340px;
                object-fit: cover;
                border: 3px solid #283A2A;

            }
        
           
        }

        .textCentre{
            display: flex;
            flex-direction: column;
            width: 40%;
            position: relative;

    
            .TitlePropos{

                h3{
                    font-family: 'Druk Trial', sans-serif;
                    color: #283A2A;
                    font-size: 190px;
                    font-weight: 800;
                    margin: 0px;
                    text-align: center;
                    position: relative;
                    top: -100px;
            
            
                }
            }

            .textMoi{
                position: relative;
                top: -100px;

                .moi1{
                    border-bottom: #283A2A 2px solid;
                     p{
                         text-align: start;
                         color: #283A2A;
                         font-size: 20px;  
                         font-weight: 400;
                     }
                 }
                 .moi2{
                     border-bottom: #283A2A 2px solid;
                      p{
                          text-align: start;
                          color: #283A2A;
                          font-size: 20px;  
                          font-weight: 400;
      
                      }
          
                  }
                  .moi3{
                      p{
                          text-align: start;
                          color: #283A2A;
                          font-size: 20px;  
                          font-weight: 400;
      
                      }
          
                  }

            }  
    
        }
        
        .ProposImgDroite{
            width: 20%;

            .photo3{
                position: relative;
                top: -70px;
                right: -0px;
                display: inline-block;
                transform: rotate(-5deg); 
            }
            .photo4{
                position: relative;
                top: -100px;
                right: -50px;
                display: inline-block;
                transform: rotate(3deg); 
            }
            .portrait3{
                width: 380px;
                height: 400px;
                object-fit: cover;
            }
            .portrait4{
                width: 320px;
                height: 240px;
                object-fit: cover;
                border: 3px solid #283A2A;

            }
        
           
        }
    }
    
    



.portfolio{
    background-color: #F8F4F0;
    background-image: url(images/noise.png); 
    opacity: 1; 

    
    h3{
        font-family: 'Druk Trial', sans-serif;
        color: #283A2A;
        font-size: 200px;
        font-weight: 800;
        margin: 0px;
        text-align: center;
        position: -webkit-sticky;
        position: sticky;
        top: 150px;
    }

    .grid {
        padding: 10% 0% 0% 0%;
        display: grid;
        grid-template-columns: repeat(16, 1fr); 
        grid-template-rows: repeat(34, 50px); /* 3 rangées avec des hauteurs fixes */
        grid-gap: 10px; /* Espacement entre les éléments */
        width: 90%;
        margin: auto; /* Centrer la grille */
    }
    
    .case {
        background-color: rgba(255, 255, 255, 0);
        position: relative;
        overflow: hidden; /* S'assurer que les images ne débordent pas */
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    
    
    
    .case img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
    
    .grid .case:nth-child(1) {
        grid-column: 1 / 6; 
        grid-row: 1 / 9; 
        
        .imgCase1{
            width: 100%;
            height: 90%;
        }

        p{
            margin: 10px 0px 0px 10px;
            color: #1B3738;
            font-size: 20px;
            text-align: start;
        }
    }
    
    .grid .case:nth-child(2) {
        grid-column: 9 / 17; 
        grid-row: 3 / 12; 

        .imgCase2{
            width: 100%;
            height: 90%;
        }

        p{
            margin: 10px 0px 0px 10px;
            color: #1B3738;
            font-size: 20px;
            text-align: start;
        }
    }
    
    .grid .case:nth-child(3) {
        grid-column: 2 / 10; 
        grid-row: 13 / 20; 

        .imgCase3 {
            width: 100%;
            height: 90%;            
        }
        
        .imgCase3 video {
            width: 100%;  /* La vidéo prend toute la largeur du conteneur */
            height: 100%; /* La vidéo prend toute la hauteur */
            object-fit: cover; /* La vidéo s'adapte au conteneur en conservant ses proportions */

        }

        p{
            margin: 10px 0px 0px 10px;
            color: #1B3738;
            font-size: 20px;
            text-align: start;
        }
    }
    
    .grid .case:nth-child(4) {
        grid-column: 12 / 17; 
        grid-row: 17 / 27; 

        .imgCase4{
            width: 100%;
            height: 90%;
        }

        p{
            margin: 10px 0px 0px 10px;
            color: #1B3738;
            font-size: 20px;
            text-align: start;
        }
    }
    
    .grid .case:nth-child(5) {
        grid-column: 1 / 9; 
        grid-row: 23 / 31; 

        .imgCase5{
            width: 100%;
            height: 90%;
        }

        p{
            margin: 10px 0px 0px 10px;
            color: #1B3738;
            font-size: 20px;
            text-align: start;
        }
    }
    
    .grid .case:nth-child(6) {
        grid-column:  11 / 16; 
        grid-row: 28 / 33;
        position: relative;
        top: 100px;

        .imgCase6{
            width: 100%;
            height: 90%;
        }

        p{
            margin: 10px 0px 0px 10px;
            color: #1B3738;
            font-size: 20px;
            text-align: start;
        }
    }
  
    
    
    

}


.competences {
    background-color: #F8F4F0;
    background-image: url(images/noise.png); /* Remplace par l'URL de ton image */
    width: 80%;
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.311); 
    padding: 10% 10%;
    margin-bottom: 90vh;

    clip-path: polygon(
    0% 99%, 5% 98%, 10% 99%, 15% 97%, 20% 98%, 25% 99%, 30% 97%, 
    35% 96%, 40% 98%, 45% 97%, 50% 96%, 55% 97%, 60% 98%, 65% 99%, 
    70% 96%, 75% 98%, 80% 97%, 85% 99%, 90% 98%, 95% 97%, 100% 98%, 
    100% 0%, 0% 0%
);
    
    .skill{
        display: flex;
        justify-content: space-between;
        margin: 5% auto 0px auto;
        padding: 0% 0%;
        width: 80%;
    }

    h3{
        margin: 0px;
        font-family: 'Druk Trial', sans-serif;
        color: #283A2A;
        font-size: 200px;
        font-weight: 800;
        text-align: center;
        
    }

    .crée{
        text-align: center;
        width: 20%;
        height: 100%;
        color: #1B3738;
        box-shadow: 15px 2px 20px #1b373869;
       

        h4{
            font-weight: 800;
            font-size: 45px;
            margin: 0px;
            padding: 15px;
        }
        p{
            font-family: Arial, Helvetica, sans-serif;
            padding: 30px;
            margin: 0px;
            padding: 0px;
        }

        .lesSkills{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding: 0% 0% 15% 0%;
        }
    }

    
    
    
}


footer{
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  background-color: #283A2A;
  color: #F8F4F0;
  width: 100%;
  padding: 1% 0% 0% 0%;

    h3{
        font-size: calc(22.2vw);
        white-space: nowrap; /* Empêche le retour à la ligne */
        overflow: hidden; /* Masque tout débordement */
        color: #F8F4F0;
        font-family: 'Druk Trial', sans-serif;
        text-align: center;
        font-weight: 700;
        margin: 0px;
        position: relative;
        top: 130px;
    }

    .contactDroite{
        position: relative;
        top: 150px;
        display: flex;
        justify-content: space-between;
        padding: 2% 3%;

        
        .barcontact{
            background-color:#000000;
            width: 1px;
            padding: 1px;
        }

        .stage{
            display: flex;
            justify-content: space-between;
            width: 33%;

            
            h4{
                font-size: 45px;
                font-weight: 700;
                margin: 0px;
            }

            button{
                background-color: #F8F4F0;
                color: #1B3738;
                padding: 5px 10px;
                border: none;
                font-weight: 600;
            }
    
        }
    
        .adresse{
            display: flex;
            flex-direction: column;
            justify-content: right;
            margin-right: auto ; 
            padding-top: 50px;
            width: 33%;

    

            h4{
                font-size: 20px;
                font-weight: 400;
                margin: 0px;
            }

            p{
                font-size: 22px;
                font-weight: 800;
            }

        }
        .mail{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-top: 50px;
            width: 33%;

            h4{
                font-size: 20px;
                font-weight: 400;
                margin: 0px;
            }

            a{
                font-size: 22px;
                font-weight: 800;
            }

            .num{
                display: flex;
                flex-direction: column;
                // padding-top: 15px;
            }

            button{
                background-color: #F8F4F0;
                color: #1B3738;
                padding: 5px 10px;
                border: none;
                font-weight: 600;
            }


    
        }
    }

    // .etude{
    //     display: flex;
    //     align-items: center;
    //     color: #F8F4F0;
    //     padding: 0% 0% 0% 2%;

    //     h4{
    //         width: 20%;
    //         font-weight: 500;
    //         font-size: 18px;
    //         margin: 0px 0px 5px 0px;
    //     }

    //     .marquee-etude {
    //         overflow: hidden;
    //         width: 80%;
    //         margin-left: 15px;
    //         font-family: 'Druk Trial', sans-serif;
    //         color: #F8F4F0;
    //         font-size: 50px;  
    //         font-weight: bold;
    //     }
    //     .marqueEtude {
    //         display: flex;
    //         white-space: nowrap;
    //         animation: marquee 20s linear infinite;
    //         margin-bottom: 10px;
    //     }
    //     .reverse {
    //         animation-direction: reverse;
    //     }
        
    //     @keyframes marqueEtude {
    //         from {
    //             transform: translateX(0);
    //         }
    //         to {
    //             transform: translateX(-100%);
    //         }
    //     }
    // }

 
}
 

