@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/druk-trial');
@import url('https://fonts.cdnfonts.com/css/cabinet-grotesk');
@import url('https://fonts.cdnfonts.com/css/author-2');
@import url('https://db.onlinewebfonts.com/c/db17de954fe4612c89d81b9e7a4e2c25?family=HFF+Greek+ExCon');
@import url('https://fonts.cdnfonts.com/css/cooper-black');


::-webkit-scrollbar {
    width: 12px; 
}
::-webkit-scrollbar-track {
    background: #1D2027; 
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}







body{
    // font-family: 'Druk Trial', sans-serif;
    font-family: 'Cabinet Grotesk', sans-serif;
    // font-family: 'Author', sans-serif;
    
    overflow-x: hidden;
    margin: 0px;
}


header{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background-image: 
        url(images/noise.png), /* Le grain */
        url(images/sky.png); /* L'image principale */
    background-size: auto, cover; /* Le grain garde sa taille d'origine, l'image principale couvre toute la zone */
    background-position: 0 0, center; /* Le grain couvre toute la surface, l'image principale est centrée */
    background-repeat: repeat, no-repeat;

    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 38%;   
        padding: 3% 30% 0% 31%;  
        
         
        ul{
            list-style: none;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.5% 0% 0.5% 0%;
        }
        li {
            font-size: 18px;
            font-weight: 700;
            color: #F8F4F0;
    
        }
        a{
            text-decoration: none; 
            color: inherit; 
        }
      
        .souligner {
            position: relative;
            display: inline-block;
            cursor: pointer;
          }
        
          .souligner::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 100%;
            height: 2px; 
            background-color: rgb(255, 255, 255);
            transform: scaleX(0); 
            transform-origin: right; 
            transition: transform 0.4s ease;
          }
        
          .souligner:hover::after {
            transform: scaleX(1); 
            transform-origin: left; 
          }
        
    }
    
    
    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8% 19%;
        text-align: center;
    
        .title-center {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
    
            h1 {
                font-family: 'Druk Trial', sans-serif;
                font-weight: 900;
                // font-size: 203px;
                font-size: clamp(1rem, 20vw, 12.74rem);
                word-wrap: break-word;
                overflow-wrap: break-word;

                margin: 0 ; 
                color: #F8F4F0;
                width: 100%;
                text-align: center;
            }
    
            .soustitre {
                display: flex;
                width: 100%; /* Occupe toute la largeur sous le H1 */
                justify-content: space-between;
                position: relative;
                top: -22px;
    
                .marquee-container {
                    overflow: hidden;
                    width: 70%; 
                    color: #F8F4F0;
                    margin-left: 22px;
                    font-size: 22px;
                    font-weight: bold;
                }
    
                .marquee {
                    display: flex;
                    white-space: nowrap;
                    animation: marquee 14s linear infinite;
                }
    
                h2 {
                    width: 20%;
                    color: #F8F4F0;
                    font-size: 21px;
                    font-weight: bold;
                    text-align: right;
                    margin: 0;
                }
    
                @keyframes marquee {
                    from {
                        transform: translateX(0);
                    }
                    to {
                        transform: translateX(-100%);
                    }
                }
            }
        }
    }       
       
}


.propos{
    position: relative;
    background-color: #F8F4F0;
    background-image: url(images/noise.png); 

    // background-image: url(images/25599.png);
    // background-repeat: no-repeat; 
    // background-size: 100%;
    // background-position: 0px -200px;

    // background-image: 
    //     url(images/noise.png), 
    //     url(images/25599.webp); 
    // background-repeat: repeat, no-repeat; 
    // background-size: auto, 100%; 
    // background-position: 0 0, 0px -200px; 

    clip-path: polygon(0% 1%, 5% 0% ,10% 2%, 15% 3%, 20% 1%, 25% 2%, 30% 1%, 35% 3.5%, 40% 1%,45% 2%, 50% 3%, 55% 1.5%, 60% 2%, 65% 0%, 70% 3%, 75% 1%, 80% 2%, 85% 1.5%, 90% 1%, 95% 2%, 100% 0%, 100% 100%, 0% 100%);
    

    margin-top: 100vh;
    display: flex;
    justify-content: space-between;
    padding: 7% 0% 1% 0%;
   


        .ProposImgGauche{   
            width: 17%;
            margin-top: 70px;

    
            .photo1{
                position: relative;
                left: -100px;
                display: inline-block;
                transform: rotate(-5deg); 
            }
            .photo2{
                position: relative;
                top: -20px;
                left: -100px;
                display: inline-block;
                transform: rotate(3deg); 
                z-index: 2;
            }
            .photo5{
                position: relative;
                top: -50px;
                left: -20px;
                display: inline-block;
                transform: rotate(-5deg); 
                z-index: 1;
            }
            .portrait1{
                width: 340px;
                height: 240px;
                object-fit: cover;
            }
            .portrait2{
                width: 360px;
                height: 400px;
                object-fit: cover;
                border: 3px solid #283A2A;
            }
            .portrait5{
                width: 330px;
                height: 260px;
                object-fit: cover;
            }
        
           
        }

        .textCentre{
            display: flex;
            flex-direction: column;
            width: 40%;
            position: relative;

    
            .TitlePropos{

                h3{
                    font-family: 'Druk Trial', sans-serif;
                    color: #283A2A;
                    font-size: 204px;
                    font-weight: 800;
                    margin: 0px;
                    text-align: center;
                    position: relative;
                    // top: -170px;
            
            
                }
            }

            .textMoi{
                position: relative;
                // top: -150px;

                h4{
                    font-family: 'Druk Trial', sans-serif;
                    color: #283A2A;
                    font-size: 34px;
                    font-weight: 400;
                    margin: 0px;
                }

                .moi1{
                    margin-top: 30px;
                    border-bottom: #283A2A 2px solid;

                     p{
                        margin-top: 10px;
                        margin-bottom: 30px;
                        text-align: start;
                        color: #283A2A;
                        font-size: 18px;  
                        font-weight: 400;
                    }
                 }
                 .moi2{
                    margin-top: 20px;
                     border-bottom: #283A2A 2px solid;
                      p{
                        margin-top: 10px;
                        margin-bottom: 30px;
                        text-align: start;
                        color: #283A2A;
                        font-size: 18px;  
                        font-weight: 400;
      
                      }
          
                  }
                  .moi3{
                    margin-top: 20px;

                      p{
                        margin-top: 10px;
                        text-align: start;
                        color: #283A2A;
                        font-size: 18px;  
                        font-weight: 400;
    
                      }
          
                  }

            }  
    
        }
        
        .ProposImgDroite{
            width: 17%;
            margin-top: 10px;


            .photo3{
                position: relative;
                top: 40px;
                right: -0px;
                display: inline-block;
                transform: rotate(-5deg); 
            }
            .photo4{
                position: relative;
                top: -30px;
                right: -50px;
                display: inline-block;
                transform: rotate(0.5deg);
                z-index: 2;
            }
            .photo6{
                position: relative;
                top: -60px;
                right: -10px;
                display: inline-block;
                transform: rotate( 5deg);
                z-index: 1;
            }
            .portrait3{
                width: 380px;
                height: 400px;
                object-fit: cover;
            }
            .portrait4{
                width: 320px;
                height: 260px;
                object-fit: cover;
                border: 3px solid #283A2A;
            }
            .portrait6{
                width: 300px;
                height: 320px;
                object-fit: cover;
            }
        }

        
}
    

.portfolio{
    position: relative;
    background-color: #F8F4F0;
    background-image: url(images/noise.png); 

    // .photo5{
    //     position: absolute;
    //     top: -260px;
    //     left: -40px;
    //     display: inline-block;
    //     transform: rotate(-5deg); 
    // }
    // .photo6{
    //     position: absolute;
    //     top: -300px;
    //     right: -50px;
    //     display: inline-block;
    //     transform: rotate( 5deg); 
    // }
    // .portrait5{
    //     width: 330px;
    //     height: 260px;
    //     object-fit: cover;
    // }
    // .portrait6{
    //     width: 300px;
    //     height: 320px;
    //     object-fit: cover;
    // }

    h3{
        font-family: 'Druk Trial', sans-serif;
        color: #283A2A;
        font-size: 190px;
        font-weight: 800;
        margin: 0px;
        text-align: center;
        position: -webkit-sticky;
        position: sticky;
        top: 200px;
    }

    .grid {
        padding: 6% 0% 0% 0%;
        display: grid;
        grid-template-columns: repeat(16, 1fr); 
        grid-template-rows: repeat(36, 50px); /* 3 rangées avec des hauteurs fixes */
        grid-gap: 10px; /* Espacement entre les éléments */
        width: 90%;
        margin: auto; /* Centrer la grille */
    }
    
    .case {
        background-color: rgba(255, 255, 255, 0);
        position: relative;
        overflow: hidden; /* S'assurer que les images ne débordent pas */
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
     
    .case img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
    
    .grid .case:nth-child(1) {
        grid-column: 1 / 6; 
        grid-row: 1 / 9; 
        
        .imgCase1{
            width: 100%;
            height: 90%;
        }

        p{
            margin: 10px 0px 0px 10px;
            color: #1B3738;
            font-size: 20px;
            text-align: start;
        }
    }
    
    .grid .case:nth-child(2) {
        grid-column: 9 / 17; 
        grid-row: 3 / 12; 

        .imgCase2{
            width: 100%;
            height: 90%;
        }

        p{
            margin: 10px 0px 0px 10px;
            color: #1B3738;
            font-size: 20px;
            text-align: start;
        }
    }
    
    .grid .case:nth-child(3) {
        grid-column: 2 / 10; 
        grid-row: 13 / 20; 

        .imgCase3 {
            width: 100%;
            height: 90%;            
        }
        
        .imgCase3 video {
            width: 100%;  /* La vidéo prend toute la largeur du conteneur */
            height: 100%; /* La vidéo prend toute la hauteur */
            object-fit: cover; /* La vidéo s'adapte au conteneur en conservant ses proportions */

        }

        p{
            margin: 10px 0px 0px 10px;
            color: #1B3738;
            font-size: 20px;
            text-align: start;
        }
    }
    
    .grid .case:nth-child(4) {
        grid-column: 12 / 17; 
        grid-row: 17 / 27; 

        .imgCase4{
            width: 100%;
            height: 90%;
        }

        p{
            margin: 10px 0px 0px 10px;
            color: #1B3738;
            font-size: 20px;
            text-align: start;
        }
    }
    
    .grid .case:nth-child(5) {
        grid-column: 1 / 9; 
        grid-row: 23 / 31; 

        .imgCase5{
            width: 100%;
            height: 90%;
        }

        p{
            margin: 10px 0px 0px 10px;
            color: #1B3738;
            font-size: 20px;
            text-align: start;
        }
    }
    
    .grid .case:nth-child(6) {
        grid-column:  11 / 16; 
        grid-row: 28 / 33;
        position: relative;
        top: 100px;

        .imgCase6{
            width: 100%;
            height: 90%;
        }

        p{
            margin: 10px 0px 0px 10px;
            color: #1B3738;
            font-size: 20px;
            text-align: start;
        }
    }

}


.competences{
    background-color: #F8F4F0;
    background-image: url(images/noise.png); /* Remplace par l'URL de ton image */
    width: 80%;
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.311); 
    padding: 10% 10%;
    margin-bottom: 90vh;

    clip-path: polygon(
    0% 99%, 5% 98%, 10% 99%, 15% 97%, 20% 98%, 25% 99%, 30% 97%, 
    35% 96%, 40% 98%, 45% 97%, 50% 96%, 55% 97%, 60% 98%, 65% 99%, 
    70% 96%, 75% 98%, 80% 97%, 85% 99%, 90% 98%, 95% 97%, 100% 98%, 
    100% 0%, 0% 0%
);
    
    .skill{
        display: flex;
        justify-content: space-between;
        margin: 5% auto 0px auto;
        padding: 0% 0%;
        width: 80%;
    }

    h3{
        margin: 0px;
        font-family: 'Druk Trial', sans-serif;
        color: #283A2A;
        font-size: 200px;
        font-weight: 800;
        text-align: center;
        
    }

    .crée{
        text-align: center;
        width: 20%;
        height: 100%;
        color: #1B3738;
        box-shadow: 15px 2px 20px #1b373869;
       

        h4{
            font-weight: 800;
            font-size: 45px;
            margin: 0px;
            padding: 15px;
        }
        p{
            font-family: Arial, Helvetica, sans-serif;
            padding: 30px;
            margin: 0px;
            padding: 0px;
        }

        .lesSkills{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding: 0% 0% 15% 0%;
        }
    }

    
    
    
}


footer{
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  background-image: 
    url(images/noise.png), /* Le grain */
    url(images/image3.jpg); /* L'image principale */
    background-size: auto, cover; /* Le grain garde sa taille d'origine, l'image principale couvre toute la zone */
    background-position: 0 0, center; /* Le grain couvre toute la surface, l'image principale est centrée */
    background-repeat: repeat, no-repeat;  
    color: #F8F4F0;
  width: 100%;




  .BoxFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 18% 8% 18%;
    text-align: center;

    .title-centerFooter {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        h3{
            font-family: 'Druk Trial', sans-serif;
            font-weight: 900;
            font-size: clamp(1rem, 20vw, 12.93rem);
            word-wrap: break-word;
            overflow-wrap: break-word;

            margin: 0 ; 
            color: #F8F4F0;
            width: 100%;
            text-align: center;
        }

        .soustitreFooter {
            display: flex;
            width: 100%; /* Occupe toute la largeur sous le H1 */
            justify-content: space-between;
            position: relative;
            top: -22px;

            .marqueeFooter-container {
                overflow: hidden;
                width: 70%; 
                color: #F8F4F0;
                margin-left: 12px;
                font-size: 23px;
                font-weight: bold;
            }

            .marqueeFooter {
                display: flex;
                white-space: nowrap;
                animation: marquee 18s linear infinite;
            }

            h2 {
                width: 20%;
                color: #F8F4F0;
                font-size: 23px;
                font-weight: bold;
                text-align: right;
                margin: 0;
            }

            @keyframes marqueeFooter {
                from {
                    transform: translateX(0);
                }
                to {
                    transform: translateX(-100%);
                }
            }
        }
    }
}       

 

    

.end{
    // border-top: #F8F4F0 1.7px dotted  ;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 17px 0px 10px 0px;
    background: #283a2a00; 
    // background: #283a2a65; 
    // backdrop-filter: blur(2px);

    .navFooter{
        margin-left: 5%;
        width: 29%;
        padding-right: 35%;
        text-align: start;
    
        ul{
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            padding: 0px;
            li{
                font-weight: 600;

                a{
                    text-decoration: none; 
                    color: inherit;
                }
            }
        }
        .souligner {
            position: relative;
            display: inline-block;
            cursor: pointer;
        }
        
        .souligner::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 100%;
            height: 2px; 
            background-color: rgb(255, 255, 255);
            transform: scaleX(0); 
            transform-origin: right; 
            transition: transform 0.4s ease;
        }
        
        .souligner:hover::after {
            transform: scaleX(1); 
            transform-origin: left; 
        }
    }

    .Reseau{
        width: 10%;
        display: flex;
        justify-content: space-between;

        .imgReseau{
            width: 50px;
            height: 50px;
        }


    }
    .legal{
        margin-right: 5%;
        width: 10%;
        text-align: right;
        font-size: 17px;
        font-weight: 400;
        cursor: pointer;


    }

}

   
}


 


